.Whole-Page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.User-NavBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    padding: 10px 0;
    z-index: 10;
    background-color: white;
}
  
.App-logo {
    height: 35px;
}

.Navbar-textt {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.Navbar-text:hover {
    transform: scale(1.1);
    font-weight: 600;
}

.Dashboard-Back-container {
    opacity: 0;
    position: absolute;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease !important;
}

.Dashboard-Back-container:hover {
    transform: translateY(5px) !important;
}

.Dashboard-Back-container:active {
    transform: translateY(10px) !important;
}

.Dashboard-Back-button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    padding: 10px;

    font-size: 20px;
    font-weight: 600;
}

/*MAIN*/
/*.Main {
    margin-top: 50px;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}*/

.h2 {
    color: rgba(49, 54, 63, 0.3);
    text-align: center;
    margin-top: 60px;
    z-index: 1;
}

.query-input, .Image-Container, .inside-column2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-wrap: wrap;
    justify-content: center;
    
    overflow-y: auto;
}

.Images {
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 5px;
}

.userName {
    border: transparent;
    cursor: pointer;
    background-color: transparent;
    font-size: 10px;
    margin-left: 15px;
}

.Display-Main {
    margin-top: 80px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.column1, .column2 {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

iframe {
    border: none;
    margin-bottom: 20px; 
}

.error-message {
    color: red;
    margin-top: 10px;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-style {
    width: auto;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.image-wrapper {
    margin: 50px;
}

.actor {
    justify-content: center;
    text-align: center;
}

.inside-column2 h3 {
    width: 625px;
    margin-bottom: 10px;
    font-size: 16px;
}

.output-box {
    width: 600px;
    height: 550px;
    border: 2px solid #001F3F;
    padding: 10px;
    background-color: #f9f9f9;
    overflow: auto;
    white-space: pre-wrap;
    font-family: monospace;
    margin: 0 auto;
    word-wrap: break-word;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;
}

.xml-content {
    font-family: monospace;  
    background-color: #f5f5f5;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
    overflow: auto;
    margin: auto;
}

.html-preview-content{
    margin: auto;
    transform: scale(0.7); 
    transform-origin: center; 
    transition: transform 0.3s ease; 
    font-size: 1.5em;
}

.buttons {
    width: 630px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
}

.xml-preview-box {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
}

.export-button, .xml-button {
    background-color: #001F3F;
    border: none;
    color: white;
    padding: 8px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;

    width: 112px;
}
  
.export-button:hover, .xml-button:hover {
    background-color: #E2E2B6;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    color: black;
    border: none;
}

.horizontal-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.horizontal-spinner-message {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

/* From Uiverse.io by Navarog21 */ 
.loadd {
  background-color: black;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform-origin: center;
  transition: 1s;
  border-radius: 50px;
  box-shadow: inset 0px 0px 10px purple,
  inset 5px 5px 12px rgba(44, 0, 114, 0.8),
  inset 8px 8px 1px rgba(160, 120, 255, 0.7),
  0px 0px 1px rgba(160, 120, 255, 0.6);
  animation: 1.2s linear infinite 0s running first682;
}

.loadd div {
  width: inherit;
  height: inherit;
  position: absolute;
}

#first {
  transform: rotate(90deg)
}

#first::before {
  --width: 1em;
  --height: 1em;
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - var(--width)/2);
  width: 1em;
  height: 1em;
  background-color: rgb(44, 0, 114);
  box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
  0px 0px 2px white;
  border-radius: 50px;
  animation: 0.8s ease-in 0s infinite running jump2;
}

#second {
  transform: rotate(90deg);
}

#second::before {
  --width: 1em;
  --height: 1em;
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - var(--width)/2);
  width: 1em;
  height: 1em;
  background-color: rgb(44, 0, 114);
  box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
  0px 0px 2px white;
  border-radius: 50px;
  animation: 1.5s ease-in 0s infinite running jump2;
}

#third {
  transform: rotate(90deg)
}

#third::before {
  --width: 1em;
  --height: 1em;
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - var(--width)/2);
  width: 1em;
  height: 1em;
  background-color: rgb(210, 219, 84);
  box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
  0px 0px 2px white;
  border-radius: 50px;
  animation: 1.6s ease-in 0s infinite running jump2;
}

.loadd::after {
  --width: 1em;
  --height: 1em;
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - var(--width)/2);
  width: 1em;
  height: 1em;
  background-color: rgb(44, 0, 114);
  box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
  0px 0px 2px white;
  border-radius: 50px;
  animation: 1.2s ease-in 1s alternate infinite running jump2;
}

@keyframes first682 {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(0deg);
    transform: rotate(90deg)
  }

  50% {
    transform: rotate(90deg);
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(180deg);
    transform: rotate(270deg)
  }

  100% {
    transform: rotate(270deg);
    transform: rotate(360deg);
  }
}

@keyframes jump2 {
  0% {
    top: 100%;
  }

  25% {
    top: 230%
  }

  50% {
    top: 100%;
  }

  75% {
    height: 0.6em
  }

  100% {
    height: 1em
  }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
}

.overlay-content {
    width: 540px;
    height: 390px;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;

    border-radius: 30px; 
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
    animation: slideIn 0.4s ease-out;
    position: relative;
}

.close-button-container, .instructions-container, .guide-buttons-container {
    width: 100%;
    display: flex;
}

.close-button-container, .instructions-container {
    flex-direction: column;
}

.close-button-container {
    width: 100%;
    align-items: flex-end;
    position: absolute;
    top: 10px;
}

.instructions-container {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.instructions-container h2{
    margin: 20px 60px;
}

.instructions-container p{
    margin: 0px 60px;
}

.guide-buttons-container {
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 45px;
    gap: 50px;
}

.guide-buttons-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.previous-button:hover {
    transform: translateX(-5px);
}

.previous-button:active {
    transform: translateX(-10px);
}

.next-button:hover {
    transform: translateX(5px);
}

.next-button:active {
    transform: translateX(10px);
}

.overlay-content h2 {
    margin-top: 0;
    color: #03346E;
    font-size: 2em;
    font-weight: bold;
}

.overlay-content p {
    font-size: 0.9em;
    margin: 0px 20px;
    margin-bottom: 10px;
    color: #4a4a4a; 
    line-height: 1.6; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close-button {
    width: 25px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #03346E;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 5px;
    margin-right: 20px;
}

.close-button:hover {
    color: #cc0000;
    transform: scale(1.2);

}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}