.Whole-Page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.NavBar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
  
.NavBar-left, .Navbar-middle, .Navbar-right {
    display: flex;
    align-items: center;
}

.NavBar-left {
    margin-left: 30px;
    justify-content: flex-start;
}

.Navbar-middle {
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.Navbar-right {
    margin-right: 30px;
    justify-content: flex-end;
}

.Navbar-right {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
  
.App-logo {
    height: 40px; 
    width: auto;
    margin-right: 10px; 
}

.Navbar-textt {
    font-size: 13px;
    font-weight: 400;
    color: black;
}
  
.Navbar-text {
    font-size: 13px;
    font-weight: 400;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Navbar-text:hover {
    transform: scale(1.1);
    font-weight: 600;
}

.Main {
    margin-top: 50px;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.h2 {
    color: rgba(49, 54, 63, 0.3);
    text-align: center;
    margin-top: 60px;
    z-index: 1;
}

.query-input, .Image-Container, .inside-column2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-wrap: wrap;
    justify-content: center;
    
    overflow-y: auto;
}

.Images {
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 5px;
}

.userName {
    border: transparent;
    cursor: pointer;
    background-color: transparent;
    font-size: 10px;
    margin-left: 15px;
}

.Display-Main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.column1, .column2 {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

iframe {
    border: none;
    margin-bottom: 20px; 
}

.error-message {
    color: red;
    margin-top: 10px;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-style {
    width: auto;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.image-wrapper {
    margin: 50px;
}

.actor {
    justify-content: center;
    text-align: center;
}

.inside-column2 h3 {
    width: 625px;
    margin-bottom: 10px;
    font-size: 16px;
}

.output-box {
    width: 600px;
    height: 550px;
    border: 2px solid #001F3F;
    padding: 10px;
    background-color: #f9f9f9;
    overflow: auto;
    white-space: pre-wrap;
    font-family: monospace;
    margin: 0 auto;
    word-wrap: break-word;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;
}

.xml-content {
    font-family: monospace;  
    background-color: #f5f5f5;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
    overflow: auto;
    margin: auto;
}

.html-preview-content{
    margin: auto;
    transform: scale(0.7); 
    transform-origin: center; 
    transition: transform 0.3s ease; 
    font-size: 1.5em;
}

.buttons {
    width: 630px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.xml-preview-box {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    min-height: 200px; /* Set a minimum height for the preview box */
    max-height: 500px; /* Optional: Limit the maximum height */
    overflow-y: auto;  /* Add scroll if content overflows */
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
}

.export-button, .xml-button {
    background-color: #001F3F;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 95px;
}
  
.export-button:hover, .xml-button:hover {
    background-color: white;
    border: none;
    color: #001F3F;
}

.horizontal-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.horizontal-spinner-message {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.fancy-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
    gap: 10px;
  }
  
  .bubble {
    width: 15px;
    height: 15px;
    background-color: #007BFF;
    border-radius: 50%;
    animation: bounce 0.6s infinite ease-in-out;
  }
  
  .bubble:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .bubble:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    0%, 80%, 100% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-15px);
      opacity: 0.8;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 215, 255, 0.6); /* Dim the background for better focus */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
}


.overlay-content {
    background: linear-gradient(135deg, #f0f4ff, #e6ebff);
    margin: 20px 20px;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border-radius: 50px; 
    text-align: center;
    width: 400px;   
    height: 250px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
    font-family: 'Arial', sans-serif;
    animation: slideIn 0.4s ease-out;
    position: relative;
}

.overlay-content h2 {
    margin-top: 0;
    color: #03346E; /* Elegant navy blue */
    font-size: 2em; /* Larger for emphasis */
    font-weight: bold;
    /* margin-bottom: 20px; */
}

.overlay-content h5 {
    color: #03346E; /* Elegant navy blue */
    font-size: 0.9em; /* Larger for emphasis */
    font-weight: bold;
}

.overlay-content p {
    font-size: 0.9em;
    margin: 0px 20px;
    margin-bottom: 10px;
    color: #4a4a4a; 
    line-height: 1.6; 
}

/* font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif; */

.next-button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    height: 38px;
    padding: 8px 24px;
    margin: 10px 40px;
    border-radius: 50px;
    width: 110px;
    background-image: linear-gradient(180deg,#6EACDA,#03346E);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
}

.next-button:hover {
    background-color: #fff; /* Set the hover color */
    background-image: none; /* Remove the gradient on hover */
    color: #000; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.previous-button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    margin: 10px 40px;
    width: 110px;
    background-image: linear-gradient(180deg,#6EACDA,#03346E);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
}

.previous-button:hover {
    background-color: #fff; 
    background-image: none;
    color: #000; 
}

.close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #03346E;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #cc0000;
}
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}