.buttona, .gbutton{
    background-color: #001F3F;
    border: none;
    color: white;
    padding: 8px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;

    width: 112px;
}

.toolbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toolbar-buttons {
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 5px;
    margin-bottom: 10px;
}

.toolbar-input {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.gbutton {
    width: 112px;
    border: none;
    height: 32px;
}
  
.buttona:hover, .gbutton:hover {
    background-color: #E2E2B6;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    color: black;
    border: none;
}

#maonajudniboss.editorr {
    width: 600px !important;
    height: 500px !important;
    border: 2px solid #001F3F;
    margin-top: 8px;
    margin-bottom: 10px;
    position: relative;

    background-color: white;
    background-image: 
        linear-gradient(to right, #e0e0e0 1px, transparent 1px),
        linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
    background-size: 20px 20px;
    
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2), 
                inset 0 -4px 6px rgba(0, 0, 0, 0.2), 
                inset 4px 0 6px rgba(0, 0, 0, 0.02), 
                inset -4px 0 6px rgba(0, 0, 0, 0.02);
}
  
.system-name-input {
    padding: 10px;
    font-size: 14px;
    border: 2px solid #001F3F;
    border-radius: 4px;
    display: block;
    opacity: 1;
    width: 580px;
}

.diagram {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-wrap: wrap;
    justify-content: center;
    
    overflow-y: auto;
}

.generate-button {
    width: 605px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.Element-input-box {
    flex-grow: 1;

    padding: 8px;
    font-size: 14px;
    border: 2px solid #001F3F;
    border-radius: 4px;
    display: block;
}