.landing {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.rectangle {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*NAVBAR*/

.NavBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 10;

    background-color: transparent;
    transition: background-color 0.3s ease;
}

.NavBar.scrolled {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.NavBar-left, .Navbar-right {
    display: flex;
    align-items: center;

    height: 100%;
}

.NavBar-left {
    margin-left: 130px;
    justify-content: flex-start;
}

.Navbar-right {
    margin-right: 130px;
    justify-content: flex-end;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}
  
.App-logo {
    height: 60px; 
    width: auto;
    margin-right: 10px; 
}

.Navbar-right button {
    all: unset;
    cursor: pointer;
    position: relative;
    color: black;
    transition: color 0.5s ease, transform 0.5s ease;

    font-weight: 600;
}

.Navbar-right button:hover {
    color: #03346E;
    transform: scale(1.1);
}

.Navbar-right button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: #03346E;
    transition: width 0.5s ease;
}

.Navbar-right button:hover::after {
    width: 100%;
}

/*MAIN*/
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

/* Hero Section */
.hero-section {
    background-color: none;
    color: white;
}

.hero-section h1 {
    font-size: 5rem;
    margin: 0;
}

.wire {
    color: black;
    font-weight: bold;
    font-size: 100px;
}

.fully {
    color: white;
    font-weight: bold;
    font-size: 100px;
}

.hero-section p {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
}

.start-button {
    width: 200px;
    background-color: #03346E;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.start-button:hover {
    background-color: #E2E2B6;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    color: black;
}

.start-button:focus {
    outline: none;
}

.start-button:active {
    transform: scale(1);
    background-color: #C70039;
}

.start-button::after {
    content: "→";
    margin-left: 10px;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.start-button:hover::after {
    transform: translateX(5px);
}

/* About Section */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content-box {
    height: 100vh;
    background-color: white;
    padding: 80px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    text-align: center;

    opacity: 0.5;
    transform: scale(0.7);
    transition: transform 1.5s ease, opacity 1.5s ease;
}

.highlight {
    color: #03346E;
    font-weight: bold;
}

.content-box.visible {
    opacity: 1;
    transform: scale(1);
}

.about-section h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 20px;
    line-height: 1.8;
    margin-top: 20px;
    color: #666;
}

.hero-emoticon {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

/* How It Works Section */
.how-it-works-section {
    background-color: none;
    padding: 50px 0;
    text-align: center;
}

.how-it-works-section h2 {
    font-size: 28px;
    color: black;
    font-weight: normal;
    margin-top: 100px;
}

.white-hightlight {
    color: white;
    font-weight: bold;
}

.cards {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    cursor: pointer;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.card h3 {
    font-size: 22px;
    font-weight: bold;
    color: #03346E;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
}

.card:active {
    transform: translateY(2px); 
}

.emoticon-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.emoticon {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

/*SCROLL*/
html {
    scroll-behavior: smooth;
}

.aboutpic {
    width: 69%;
    max-width: 100%;
    height: auto;
    object-fit: cover; 
}